n8n-chat-agent.json
{
  "name": "R3Bot IA Conversacional (n8n)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-agendamiento",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook (Chat)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 0, 300 ],
      "webhookId": "chat-agendamiento"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Eres el asistente inteligente oficial de R3 Consultores llamado 'R3Bot'.\n\nTu misión es recolectar de forma amable y natural 4 datos vitales de los usuarios:\n1. Nombre\n2. Teléfono\n3. Correo electrónico\n4. Motivo puntual de la consulta\n\nReglas:\n- NUNCA pidas Fecha ni Hora.\n- NUNCA inventes citas.\n- En cuanto te asegures de que ya tienes esos 4 datos completos en la memoria, tu ÚNICA RESPUESTA exacta (palabra por palabra) debe ser: \n\"[REQUEST_DATE]\"\n(No añadas texto antes ni después de [REQUEST_DATE]).\n\n- Cuando el usuario te responda enviando un texto con el formato \"[DATE_SELECTED] YYYY-MM-DD HH:mm\", esto significa la culminación del chat. En ese momento, debes responder EXACTA Y ÚNICAMENTE con un objeto JSON crudo combinando todos los datos que tienes en memoria, con estas claves exactas en minúscula: \"nombre\", \"telefono\", \"email\", \"motivo_consulta\", \"categoria_servicio\" (ej. Tributario, Financiero, etc), \"nivel_urgencia\" (Alta, Media, Baja), \"fecha_propuesta\" (usa la fecha enviada en DATE_SELECTED).\nNO escribas Markdown, NO escribas '```json', SOLO EL OBJETO { ... } que empieza por llave abierta."
        }
      },
      "id": "2",
      "name": "Agente IA (R3Bot)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [ 250, 300 ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro"
      },
      "id": "3",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [ 250, 500 ]
    },
    {
      "parameters": {
        "sessionIdKey": "={{ $json.body.sessionId }}"
      },
      "id": "4",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [ 400, 500 ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "df5047ae-cbfc-4504-8b89-281bfe4cc8cd",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "{",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "JSON Detectado (Fin)"
            }
          ]
        },
        "options": {
          "fallbackOutput": 1
        }
      },
      "id": "5",
      "name": "Switch (Verifica JSON)",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [ 600, 300 ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "responseBody": "={{ { \"reply\": $node[\"Agente IA (R3Bot)\"].json.output } }}"
      },
      "id": "6",
      "name": "Respond Webhook (Chat)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 850, 400 ]
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.item.json.output);"
      },
      "id": "7",
      "name": "Parsear JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 850, 150 ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "clientes",
        "columns": "nombre_completo,telefono,email,nombre_empresa",
        "data": "={{ { \"nombre_completo\": $json.nombre, \"telefono\": $json.telefono, \"email\": $json.email, \"nombre_empresa\": \"No especificada\" } }}"
      },
      "id": "8",
      "name": "Supabase (Crear Cliente)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ 1050, 150 ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "citas",
        "columns": "cliente_id,fecha_hora_propuesta,motivo_consulta,resumen_ia_necesidad,estado",
        "data": "={{ { \"cliente_id\": $json.data[0].id, \"fecha_hora_propuesta\": $node[\"Parsear JSON\"].json.fecha_propuesta, \"resumen_ia_necesidad\": $node[\"Parsear JSON\"].json.motivo_consulta, \"motivo_consulta\": $node[\"Parsear JSON\"].json.categoria_servicio, \"estado\": \"pendiente\" } }}"
      },
      "id": "9",
      "name": "Supabase (Crear Cita)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ 1250, 150 ]
    },
    {
      "parameters": {
        "sendTo": "info@r3consultores.com",
        "subject": "=🚨 Nueva Solicitud de Cita: {{$node[\"Parsear JSON\"].json.categoria_servicio}} - Urgencia: {{$node[\"Parsear JSON\"].json.nivel_urgencia}}",
        "message": "=¡Hola equipo!\n\nSe ha recibido una nueva solicitud de cita desde el Chatbot de IA.\n\nDatos del Cliente:\n- Nombre: {{$node[\"Parsear JSON\"].json.nombre}}\n- Teléfono: {{$node[\"Parsear JSON\"].json.telefono}}\n- Email: {{$node[\"Parsear JSON\"].json.email}}\n- Fecha Propuesta: {{$node[\"Parsear JSON\"].json.fecha_propuesta}}\n\nMotivo del Cliente:\n{{$node[\"Parsear JSON\"].json.motivo_consulta}}\n\nDictamen de Google Gemini:\n- Categoría: {{$node[\"Parsear JSON\"].json.categoria_servicio}}\n- Nivel de Urgencia: {{$node[\"Parsear JSON\"].json.nivel_urgencia}}",
        "options": {}
      },
      "id": "10",
      "name": "Gmail (Alerta a Info)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [ 1450, 50 ]
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"Parsear JSON\"].json.email}}",
        "subject": "Cita Agendada Exitosamente - R3 Consultores",
        "message": "=Hola {{$node[\"Parsear JSON\"].json.nombre}},\n\n¡Gracias por preferir a R3 Consultores!\n\nHemos registrado exitosamente tu cita para la fecha: {{$node[\"Parsear JSON\"].json.fecha_propuesta}}.\n\nPronto evaluaremos la disponibilidad y tu asesor se pondrá en contacto contigo.\n\nAtentamente,\nEquipo de R3 Consultores",
        "options": {}
      },
      "id": "11",
      "name": "Gmail (Confirmación Cliente)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [ 1450, 250 ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "responseBody": "={{ { \"reply\": \"✅ ¡Perfecto! He recibido todos tus requerimientos y he agendado tu cita exitosamente. Recibirás un correo electrónico de confirmación con los siguientes pasos en unos minutos.\" } }}"
      },
      "id": "12",
      "name": "Respond Webhook (Éxito)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1050, 0 ]
    }
  ],
  "connections": {
    "Webhook (Chat)": {
      "main": [
        [
          {
            "node": "Agente IA (R3Bot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA (R3Bot)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente IA (R3Bot)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA (R3Bot)": {
      "main": [
        [
          {
            "node": "Switch (Verifica JSON)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch (Verifica JSON)": {
      "main": [
        [
          {
            "node": "Parsear JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Webhook (Chat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear JSON": {
      "main": [
        [
          {
            "node": "Supabase (Crear Cliente)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Webhook (Éxito)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase (Crear Cliente)": {
      "main": [
        [
          {
            "node": "Supabase (Crear Cita)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase (Crear Cita)": {
      "main": [
        [
          {
            "node": "Gmail (Alerta a Info)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail (Confirmación Cliente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
