n8n-agendamiento-v2.json
{
  "name": "Agendamiento R3 V2 - IA y Gmail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clientes-r3",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1",
      "name": "Webhook (Recibe Cita)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "webhookId": "clientes-r3"
    },
    {
      "parameters": {
        "model": "gemini-1.5-pro",
        "prompt": "=Analiza el siguiente motivo de consulta del cliente y devuelve un JSON estricto con dos campos: 'categoria_servicio' y 'nivel_urgencia' (Alta, Media, Baja). \nMotivo: {{$json.body.motivo_consulta}}",
        "options": {
          "systemMessage": "Eres un asistente de clasificación para una firma de contadores públicos. Solo debes devolver un JSON válido."
        }
      },
      "id": "2",
      "name": "Google Gemini (Análisis)",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "clientes",
        "columns": "nombre_completo,telefono,email,nombre_empresa",
        "data": "={{ {\"nombre_completo\": $node[\"Webhook (Recibe Cita)\"].json.body.nombre, \"telefono\": $node[\"Webhook (Recibe Cita)\"].json.body.telefono, \"email\": $node[\"Webhook (Recibe Cita)\"].json.body.email, \"nombre_empresa\": \"No especificada\"} }}"
      },
      "id": "3",
      "name": "Supabase (Crear Cliente)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "citas",
        "columns": "cliente_id,fecha_hora_propuesta,motivo_consulta,resumen_ia_necesidad,estado",
        "data": "={{ {\"cliente_id\": $node[\"Supabase (Crear Cliente)\"].json.data[0].id, \"fecha_hora_propuesta\": $node[\"Webhook (Recibe Cita)\"].json.body.fecha_propuesta, \"resumen_ia_necesidad\": $node[\"Webhook (Recibe Cita)\"].json.body.motivo_consulta, \"motivo_consulta\": $node[\"Google Gemini (Análisis)\"].json.categoria_servicio, \"estado\": \"pendiente\"} }}"
      },
      "id": "4",
      "name": "Supabase (Crear Cita)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "info@r3consultores.com",
        "subject": "=🚨 Nueva Solicitud de Cita: {{$node[\"Google Gemini (Análisis)\"].json.categoria_servicio}} - Urgencia: {{$node[\"Google Gemini (Análisis)\"].json.nivel_urgencia}}",
        "message": "=¡Hola equipo!\n\nSe ha recibido una nueva solicitud de cita en el sistema.\n\nDatos del Cliente:\n- Nombre: {{$node[\"Webhook (Recibe Cita)\"].json.body.nombre}}\n- Teléfono: {{$node[\"Webhook (Recibe Cita)\"].json.body.telefono}}\n- Email: {{$node[\"Webhook (Recibe Cita)\"].json.body.email}}\n- Fecha Propuesta: {{$node[\"Webhook (Recibe Cita)\"].json.body.fecha_propuesta}}\n\nMotivo del Cliente:\n{{$node[\"Webhook (Recibe Cita)\"].json.body.motivo_consulta}}\n\nDictamen de Google Gemini:\n- Categoría: {{$node[\"Google Gemini (Análisis)\"].json.categoria_servicio}}\n- Nivel de Urgencia: {{$node[\"Google Gemini (Análisis)\"].json.nivel_urgencia}}",
        "options": {}
      },
      "id": "5",
      "name": "Gmail (Alerta a Info)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"Webhook (Recibe Cita)\"].json.body.email}}",
        "subject": "Hemos recibido tu solicitud de cita - R3 Consultores",
        "message": "=Hola {{$node[\"Webhook (Recibe Cita)\"].json.body.nombre}},\n\n¡Gracias por preferir a R3 Consultores!\n\nHemos recibido exitosamente tu solicitud de cita para {{$node[\"Webhook (Recibe Cita)\"].json.body.fecha_propuesta}} relacionada con \"{{$node[\"Google Gemini (Análisis)\"].json.categoria_servicio}}\".\n\nPronto evaluaremos la disponibilidad y tu asesor se pondrá en contacto contigo.\n\nAtentamente,\nEquipo de R3 Consultores",
        "options": {}
      },
      "id": "6",
      "name": "Gmail (Confirmación Cliente)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ]
    }
  ],
  "connections": {
    "Webhook (Recibe Cita)": {
      "main": [
        [
          {
            "node": "Google Gemini (Análisis)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini (Análisis)": {
      "main": [
        [
          {
            "node": "Supabase (Crear Cliente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase (Crear Cliente)": {
      "main": [
        [
          {
            "node": "Supabase (Crear Cita)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase (Crear Cita)": {
      "main": [
        [
          {
            "node": "Gmail (Alerta a Info)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail (Confirmación Cliente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
